<h1>twitterclone blog details</h1>
<p>
  <strong>tweet post</strong>
   <%= @blog.blog %>
 </p>
<%= link_to 'back', blogs_path %> |
<%= link_to 'edit', edit_blog_path(@blog) %> |
<%= link_to 'delete', blog_path(@blog), method: :delete, data: {confirm: 'are you sure you want to', cancel: 'cancel', commit: 'post'}, title: 'cofirmation？' %>
<% yield %>
