body {
  background-color: #FFC0CB;
  color: #333;
  text-align: center;
}
header {
  width:100%;
  background-color: #2F4F4F;
  color: white;
  text-align: center;
  margin: -30px;
  width: 100%;
  font-size: 1.2rem;
}
header ul a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px;
  ul li {
    list-style: square;
    word-spacing: 2rem;
 }
}
p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 18px;
}
#navigation{
  width: auto;
  margin-bottom: 10px;
}
h1 h2 h3 {
  width:auto;
  margin:auto;
  text-align: center;
}
label {
  display: block;
}
.notice .alert {
  width:auto;
  margin:auto;
  text-align: center;
  background-color: lightblue;
}
table {
  margin:auto;
  background-color: #fff;
}
.created_at .updated_at {
  padding-left: 100px;
}
.link {
  width:auto;
  margin:auto;
  text-align: center;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
.error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
 }
footer {
  width:100%;
  background-color: #2F4F4F;
  color: white;
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 0;
}
